@font-face {
  font-family: utdrfont;
  src: url('fonts/undertale-deltarune-extended-fixed.otf') format('opentype');
}

p {
  font-family: utdrfont;
  color: white;
}

body {
  background-color: black;
}
