@font-face {
  font-family: utdrfont;
  src: url('fonts/undertale-deltarune-extended-fixed.otf') format('opentype');
}

p {
  font-family: utdrfont;
  color: #ffffff;
}

body {
  background-color: #000000;
  color: #ffffff;
}
